@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

body {
    color: #fff !important;
    background-color: #212529;
    background: url('assets/images/HighRes Brightforge Logo.png');
    background-size: 70%;
    background-color: oklch(0.3 0 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    z-index: -1;
}
